/* basic utility styles */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

:root {
  --primary-color: #18191f;
  --secondery-color: #787885;
  --btn-color: #e02c6d;
}

body {
  background-color: aliceblue;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}
ul li {
  list-style: none;
  display: inline;
  padding-left: 25px;
}
ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
/* top nav bar */
header {
  max-width: 1110px;
  margin: auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.main-logo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
nav {
  font-size: 16px;
}
.fa-search,
.fa-shopping-cart {
  font-size: 1.2em;
}
